.header{
    height: 90vh;
    width: 100%;
    background-color: rgba(#000, .5);
    position: relative;
    overflow: hidden;

    &__logo-box{
        padding: 4rem 4rem;
    }
    &__logo{
        width: 4rem;
        height: 4rem;
        fill: #FFF;
    }
    &__heading-box{
    }
    &__back-video{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        object-fit: cover;  
        opacity: .6;
        z-index: -1;
        overflow: hidden;
        
    }
    &__text-box{
        padding-left: 5rem;
        margin-top: 4%;
        margin-left: 15rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;    
        align-items: flex-start;        
        opacity: 1;
        border-left: solid 8px rgba($rgba-color-secondary, .6);
        width: 80%;
        &,
        & > *{
            animation: moveUp 2s cubic-bezier(0.38, 0.02, 0.72, 1.79);
        }
        & > .btn{
            animation-fill-mode: backwards;
            animation-delay: .5s;
        }
    }

    &__text-box > *{
        margin: 2rem 0;    
    }
    &__text-span{
        font-weight: 400;
        margin-bottom: 5rem;
        display: flex;
        font-size: 6rem;
        letter-spacing: .5rem;
        background-image: linear-gradient(to bottom right, #FC5C22 , #FC5C22);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-transform: capitalize;

        &-nz{
            font-weight: 700;
            background-image: var(--gradient-blue);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }

    &__nz--flag{
        width: 16rem;
        height: auto; 
        // margin: 0 auto;
        margin-top: 5rem; 
        box-shadow: var(--shadow);
        animation-fill-mode: backwards;
        animation-delay: .5s;
    }
}