//color

:root{

    --color-secondary: #FC5C22;
    --color-black: #000;
    --color-grey: rgb(214, 203, 203);
    --color-white: #FFF;
    --shadow: 0 1rem 1rem rgba(#000,.1);
    --gradient-blue: linear-gradient(to bottom right, rgba(46, 143, 170, 0.795), rgba(83, 183, 211, 0.795));
}   